<h1><%= @rest.title %></h1>
<h4><%= @rest.description %></h4>
<br>
<br>
<% @categories.each do |category| %>
	<h3><%= category.title %></h3>
	<% @dishes = category.dishes.to_a %>
	<% @dishes.each do |dish| %>
		<tr>
			<td><div class="col-md-2"><%= dish.title %></div></td>
			<td><div class="col-md-2"><%= dish.price %> сом</div></td>
			<td><div class="col-md-3"><%= dish.description %></div></td>
			<% unless current_user == nil %>
				<td><div class="col-md-2"><%= link_to 'Add to cart', adder_path(dish), class: 'btn btn-success' %></div></td>
			<% end %>
			<br>
			<br>
		</tr>
	<% end %>
<% end %>

<% content_for(:side_bar) do %>
	<% render 'cart' %>
<% end %>